@import "config";
@import "navbar";
@import "loader";
@import "header";
@import "container";
@import "eda";
@import "compare";
@import 'edaNav';
@import 'selectButton';
@import 'prediction';

body
{
    background: set-text-color($primary-color);
    background-color: $primary-color;
    color: #000000;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    line-height: 1;
}

